# FastAPI 기본
fastapi==0.111.0
uvicorn[standard]==0.29.0

# DB 연동
SQLAlchemy==2.0.41
psycopg2-binary==2.9.9

# FastAPI 의존성
itsdangerous==2.1.2
starlette-csrf==3.0.0

# 프로젝트 의존성
python-dateutil==2.9.0.post0
pytz==2025.2
typing_extensions==4.14.0
